@model DEPI8ASPMVCLibraryManagementSystem.Models.Book
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Book</h1>

<br />
<br />

<form asp-action="Create">
    <partial name="PartialViews/CreateEditBookPartialView" />
    <input type="submit" value="Submit" class="btn btn-primary m-3" /> |
    <a asp-action="Index" class="btn btn-light m-3">Back To List</a>
</form>

@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}
