@model DEPI8ASPMVCLibraryManagementSystem.Models.Author
@{
    ViewData["Title"] = "Details";
}

<h1>Author Details</h1>
<div>
    <partial name="PartialViews/DeleteDetailsAuthorPartialView" />
    <a asp-action="Edit" class="btn btn-secondary m-3">Edit</a> |
    <a asp-action="Index" class="btn btn-light m-3">Back To List</a>
</div>
